.header {
    padding: 1.5rem 3rem;
    background-color: transparent;
    width: calc(100% - 100px);
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .cadille{
    font-size: 2rem;
  }

  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

  }
  
  .li{
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 50px;
  }
  
  .navList {
    display: flex;
    gap: 8rem;
    list-style: none;
    padding: 0;
  }
  
  .navLink {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: Crimson Text, Arial, Helvetica, sans-serif;
  }
  
  .navLink:hover {
    color: #ccc;
  }
  