:root {
  --color-black: #131010;
  --color-brown: #C18B46;
  --color-red: #9B2424;
  --color-beige: #F8DD99;
  }

body{
    margin: 0;
    font-family: Crimson Text, Arial, Helvetica, sans-serif;
}

h2{
    font-size: 2.5rem;
    font-family: Cinzel, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

h3{
  font-size: 2rem;
  color: white;
  font-family: Crimson Text, Arial, Helvetica, sans-serif;
}

p{
  font-size: 1.4rem;
  font-family: Crimson Text, Arial, Helvetica, sans-serif;
  text-align: center;
}
